<section class="no-padding" id="biography">
    <div class="container-fluid">
        <div class="row no-gutter">
             <div class="col-lg-4 col-sm-4">
                <a href="#" class="portfolio-box">
                    <img src="img/TWalker_Headshot.jpg" class="img-responsive" alt="">
                </a>
            </div>
             <div class="col-lg-8">
                <p style="margin-left:45px; margin-right:45px; margin-top:45px">Originally from Chino Hills, California, Tiffany Walker is a choral conductor in Seattle, Washington.  She is currently in her first year pursuing a Doctor of Musical Arts in Choral Conducting at the University of Washington.  At the UW, Tiffany is the co-director of the Collegiate Treble Choir. Performances include UW Sings and Carolfest. She has also led an orchestral rehearsal with choir for the UW Campus Philharmonia Orchestras concert performance of The Pirates of Penzance. 
		</p><p style="margin-left:45px; margin-right:45px" >
Tiffany completed a Master of Arts in Teaching and Single-Subject Credential in K-12 music at the University of Southern California, studying under Dr. John Whitener, Christine DeMore, and Lisa Smith.  Tiffany received a Bachelor of Arts degree in Music from the University of California, Berkeley, where her focus was vocal performance.  She sang in the University Chorus and Chamber Singers under the direction of Dr. Marika Kuzma.  She studied voice with Deborah Benedict, and with Melissa Landis as a post-graduate.
		</p><p style="margin-left:45px; margin-right:45px">
From 2007-2012, Tiffany taught private voice lessons and was an assistant director in the choral music department at Ruben S. Ayala High School in Chino Hills.  As an assistant director, she conducted the Women’s Ensemble in a concert tour to Puerto Rico in 2011.  In 2009, she helped prepare rehearsals and sang with the Vocal Ensemble at the Third International Choral Festival in Lima, Peru.  
		</p><p style="margin-left:45px; margin-right:45px">
After completing her Master of Arts in Teaching degree and attaining her K-12 music credential, Tiffany taught as a high school choral director at San Clemente High School from 2012-2013, then at Ruben S. Ayala High School from 2013-2017.  At Ayala HS, she had produced and directed an annual madrigal dinner, entitled Madrigal Feaste. She was also a member of the Southern California Vocal Association, and took her choirs to perform in numerous festivals. Her auditioned groups travelled for Spring tour, and won gold ratings at Heritage Festivals in San Francisco, Chicago, Seattle, and Washington, D.C.
</p><p style="margin-left:45px; margin-right:45px">
Tiffany was a member of the Pacific Chorale under the direction of Dr. John Alexander and Dr. Rob Istad from 2008-2017.  Some of her accomplishments with Pacific Chorale included performing at the Hollywood Bowl, being a chorister for Andrea Bocelli’s performance tour, singing world premieres commissioned by the Pacific Symphony, and participating in many live concerts and CD recordings at the Segerstrom Center for the Arts in Orange County.

		</p>
            </div>
     </div>
    </div>
</section>
