<section class="bg-primary" id="performance">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Join me at an upcoming concert!</h2>
                <hr class="light">
		<p class="text">The University of Washington Collegiate Treble Choir is currently performing</p>
                <a href="https://music.washington.edu/events" class="btn btn-default btn-xl">See the calendar</a>
            </div>
        </div>
    </div>
</section>
